@model HomeViewModel
@using FashionShop.ViewModels.Catalog.Products;
@using System.Globalization;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    ViewData["Title"] = "Home Page";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li>/</li>
                        <li>Sản Phẩm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_reverse">
    <div class="container">
        <div class="shop_inner_area">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <div class="sidebar_widget">
@*                        <div class="widget_list widget_filter">
                            <h2>Lọc Sản Phẩm Theo Giá</h2>
                            <form action="#">
                                <div id="slider-range"></div>
                                <button type="submit">Lọc</button>
                                <input type="text" name="text" id="amount" />

                            </form>
                        </div>*@
                        <div class="widget_list widget_categories">
                            <h2>Danh Mục Sản Phẩm</h2>
                            <ul>
                                @*<li>@Html.Action("TheLoai", "Website")</li>*@

                                <!--<li><a href="#">Categories1 <span>6</span></a> </li>
    <li><a href="#"> Categories2 <span>10</span></a> </li>
    <li><a href="#">Categories3 <span>4</span></a> </li>
    <li><a href="#"> Categories4 <span>4</span></a> </li>
    <li><a href="#">Categories5 <span>3</span></a> </li>-->

                            </ul>
                        </div>


                    </div>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_title">
                        <h1>Sản Phẩm</h1>
                    </div>
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">

                            <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"></button>

                            <button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

                            <button data-role="grid_5" type="button" class="btn-grid-5" data-toggle="tooltip" title="5"></button>

                            <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"></button>
                        </div>
                        <div class=" niceselect_option">

                            <form class="select_option" action="#">
                                <select name="orderby" id="short">

                                    <option selected value="1">Sắp xếp</option>
                                    <option value="2">Phổ biến</option>
                                    <option value="3">Mới nhất</option>
                                    <option value="4">Lọc theo giá: Thấp đến cao</option>
                                    <option value="5">Lọc theo giá: Cao đến thấp</option>
                                    <option value="6">Tên sản phẩm: Z</option>
                                </select>
                            </form>


                        </div>
                        <div class="page_amount">
                           

                            <p>Hiện 1–@Model.LatestProducts.Count trong @Model.LatestProducts.Count sản phẩm</p>
                        </div>
                    </div>
                    <!--shop toolbar end-->

                    <div class="row shop_wrapper">
                        @foreach (var item in Model.LatestProducts)
                        {
                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            <div class="col-lg-4 col-md-4 col-12 ">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a class="primary_img" href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt=""></a>
                                        <!--<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product12.jpg" alt=""></a>-->

                                        <div class="quick_button">
                                            <a href="@url" title="quick_view">Xem sản phẩm</a>
                                        </div>

                                        <!--<div class="label_product">
                                            <span>new</span>
                                        </div>-->
                                    </div>

                                    <div class="product_content grid_content">
                                        <h3><a href="@url">@item.Name</a></h3>
                                        <span class="current_price">@String.Format("{0:0,0}", item.Price)</span>
                                    </div>


                                    <div class="product_content list_content">
                                        <h3><a href="@url"></a></h3>
                                        <div class="product_ratting">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product_price">
                                            @if(@item.Price >= @item.OriginalPrice)
                                            {
                                                <span class="current_price">@String.Format("{0:0,0}", item.Price)</span>
                                            }else{
                                                <span class="current_price">@String.Format("{0:0,0}", item.Price)</span>
                                            <span class="old_price">@String.Format("{0:0,0}", item.OriginalPrice)</span>
                                            }
                                            
                                        </div>
                                        <div class="product_desc">
                                            <p>@item.Description</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            
                        }
                        
                        </div>
                        

                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @class = "current" }))*@
                                @*<li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">next</a></li>
                                <li><a href="#">>></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>

    </div>
</div>
<!--shop  area end-->

<!--product section area start-->
<section class="product_section womens_product bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Sản phẩm mới nhất</h2>
                    <p>Sản phẩm ấn tượng và mới nhất</p>
                </div>
            </div>
        </div>
        <div class="product_area">
            <div class="row">
                <div class="product_carousel product_three_column4 owl-carousel">
                    @foreach (var item in Model.LatestProducts)
                    {
                        var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                        <div class="col-lg-3">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name"></a>
                                    @*<a class="secondary_img" href="product-details.html"><img src="~/Content/images/product/product5.jpg" alt=""></a>*@

                                    <div class="quick_button">
                                        <a href="@url" title="quick_view">Xem sản phẩm</a>
                                    </div>

                                </div>
                                <div class="product_content">
                                    <h3><a href="@url">@item.Name</a></h3>
                                    <span class="current_price">@item.Price đ</span>
                                    <a class="btn btn-add-cart" data-id="@item.Id" href="#"><localize>Add to</localize> <i class="icon-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>
<!--product section area end-->
